@model DeviceManager.Models.ReportsViewModel

@{
    ViewData["Title"] = "Reports";
}

<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-4">System Report</h3>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <div class="d-flex gap-3">
                 <a asp-controller="Reports" asp-action="TechnicianPerformance" class="btn btn-primary   btn-sm mb-3">Technician Performance</a>
                 <a asp-action="ExportExcel" class="btn btn-success btn-sm mb-3">Export Excel</a>
            </div>
        }
        
    </div>

    <div class="row g-3 mb-4">
        <div class="col-md-3">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>Total Devices</small>
                    <h4>@Model.TotalDevices</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>Active Devices</small>
                    <h4 class="text-success">@Model.ActiveDevices</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>Inactive Devices</small>
                    <h4 class="text-danger">@Model.InactiveDevices</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>Pending Approvals</small>
                    <h4 class="text-warning">@Model.PendingApprovals</h4>
                </div>
            </div>
        </div>
    </div>

    <h5 class="mb-3">Task Overview</h5>

    <div class="row g-3 mb-4">
        <div class="col-md-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>Assigned</small>
                    <h5>@Model.AssignedTasks</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>In Progress</small>
                    <h5>@Model.InProgressTasks</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <small>Completed</small>
                    <h5>@Model.CompletedTasks</h5>
                </div>
            </div>
        </div>
    </div>

   @*  <h5 class="mb-3">Technician Performance</h5>

    <table class="table table-sm table-hover">
        <thead class="table-light">
            <tr>
                <th>Technician</th>
                <th>Assigned</th>
                <th>In Progress</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.TechnicianStats)
            {
                <tr>
                    <td>@t.TechnicianName</td>
                    <td>@t.TotalAssigned</td>
                    <td>@t.InProgress</td>
                    <td>@t.Completed</td>
                </tr>
            }
        </tbody>
    </table> *@

</div>
